        body {
            background-color: #111;
            color: #e0f0ff;
            margin: 0;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        header {
            width: 1140px;
            max-width: 80%;
            margin: auto;
            height: 50px;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 100;
        }

        header a {
            margin-right: 40px;
        }

        .carousel {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            margin-top: -50px;
            position: relative;
        }

        .carousel .list .item {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .carousel .list .item:nth-child(1) {
            opacity: 1;
            z-index: 1;
        }

        .carousel .list .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .carousel .list .item .content {
            position: absolute;
            top: 20%;
            width: 1140px;
            max-width: 80%;
            left: 50%;
            transform: translateX(-50%);
            padding-right: 30%;
            box-sizing: border-box;
            color: azure;
            text-shadow: 0 5px 10px #0004;
        }

        .carousel .list .item .content .project {
            font-weight: bold;
            letter-spacing: 10px;
            opacity: 0;
            transform: translateY(50px);
            filter: blur(20px);
        }

        .carousel .list .item .content .carousel-title {
            font-weight: bold;
            font-size: 5em;
            line-height: 1.3em;
            opacity: 0;
            transform: translateY(50px);
            filter: blur(20px);
        }

        .carousel .list .item .content .topic {
            font-size: 2.5em;
            font-weight: bold;
            color: #f1683a;
            margin-top: 5px;
            opacity: 0;
            transform: translateY(50px);
            filter: blur(20px);
        }

        .carousel .list .item .content .des {
            opacity: 0;
            transform: translateY(50px);
            filter: blur(20px);
        }

        .carousel .list .item .content .buttons {
            display: flex;
            justify-content: start;
            gap: 10px;
            margin-top: 20px;
            opacity: 0;
            transform: translateY(50px);
            filter: blur(20px);
        }

        .carousel .list .item .content .btn {
            letter-spacing: 3px;
            font-weight: 500;
        }

        .carousel .list .item .content button:nth-child(2) {
            background-color: transparent;
            color: #eee;
            border: 1px solid #eee;
        }

        .carousel .list .item:nth-child(1) .content .project {
            animation: showContent 0.5s 1.0s ease-out forwards;
        }

        .carousel .list .item:nth-child(1) .content .carousel-title {
            animation: showContent 0.5s 1.2s ease-out forwards;
        }

        .carousel .list .item:nth-child(1) .content .topic {
            animation: showContent 0.5s 1.3s ease-out forwards;
        }

        .carousel .list .item:nth-child(1) .content .des {
            animation: showContent 0.5s 1.5s ease-out forwards;
        }

        .carousel .list .item:nth-child(1) .content .buttons {
            animation: showContent 0.5s 1.7s ease-out forwards;
        }

        @keyframes showContent {
            to {
                opacity: 1;
                filter: blur(0);
                transform: translateY(0);
            }
        }

        .thumbnail {
            position: absolute;
            bottom: 50px;
            left: 50%;
            width: max-content;
            z-index: 100;
            display: flex;
            gap: 20px;
            transform: translateX(-10%);
        }

        .thumbnail .item {
            width: 150px;
            height: 220px;
            flex-shrink: 0;
            position: relative;
        }

        .thumbnail .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        .thumbnail .item .content {
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }

        .thumbnail .item .content .carousel-title {
            font-weight: bold;
            font-size: 0.8em;
            color: #f1683a;
        }

        .arrows {
            position: absolute;
            top: 80%;
            right: 52%;
            width: 300px;
            max-width: 30%;
            display: flex;
            gap: 10px;
        }

        .arrows button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #eee4;
            border: 2px solid #fff;
            font-family: monospace;
            color: #fff;
            font-weight: bold;
            font-size: large;
            transition: 0.5s;
            z-index: 100;
            cursor: pointer;
        }

        .arrows button:hover {
            background-color: #eee;
            color: #555;
        }

        /* Transition states */
        .carousel.next .list .item:nth-child(1) img {
            width: 150px;
            height: 220px;
            position: absolute;
            left: 50%;
            bottom: 50px;
            border-radius: 20px;
            animation: showImage 0.5s linear 1 forwards;
        }

        @keyframes showImage {
            to {
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                border-radius: 0;
            }
        }

        .carousel.next .thumbnail .item:nth-child(1) {
            width: 0;
            overflow: hidden;
            animation: showThumbnail 0.5s linear 1 forwards;
        }

        @keyframes showThumbnail {
            to {
                width: 150px;
            }
        }

        .carousel.next .thumbnail {
            transform: translateX(-10%) translateX(150px);
            animation: transformThumbnail 0.5s linear 1 forwards;
        }

        @keyframes transformThumbnail {
            to {
                transform: translateX(-10%) translateX(0);
            }
        }

        .carousel.prev .list .item:nth-child(2) {
            z-index: 2;
        }

        .carousel.prev .list .item:nth-child(2) img {
            position: absolute;
            bottom: 0;
            left: 0;
            animation: outImage 0.5s linear 1 forwards;
        }

        @keyframes outImage {
            to {
                width: 150px;
                height: 220px;
                border-radius: 20px;
                left: 50%;
                bottom: 50px;
            }
        }

        .carousel.prev .thumbnail .item:nth-child(1) {
            width: 0;
            overflow: hidden;
            opacity: 0;
            animation: showThumbnail 0.5s linear 1 forwards;
        }


        .carousel.next .list .item .content,
        .carousel.prev .list .item .content {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        .carousel.next .arrows button,
        .carousel.prev .arrows button {
            pointer-events: none;
        }

        .time {
            width: 100%;
            height: 5px;
            background-color: #f1683a;
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
        }

        .carousel.next .time,
        .carousel.prev .time {
            width: 100%;
            animation: timeRunning 1s linear 1 forwards;
        }

        @keyframes timeRunning {
            to {
                width: 0;
            }
        }

        @media screen and (max-width: 678px) {
            .carousel .list .item .content {
                padding-right: 0;
                width: 100%;
                font-size: 0.9em;
            }

            .carousel .list .item .content .carousel-title {
                font-size: 2em;
            }

            .carousel .list .item .content .topic {
                font-size: 1.5em;
            }

            .arrows {
                top: 90%;
                right: 5%;
            }

            .thumbnail .item {
                width: 100px;
                height: 150px;
            }
        }